# Supabase Configuration
SUPABASE_URL=https://mvouugwcssvnzvetmyoe.supabase.co
SUPABASE_ANON_KEY=sb_publishable_KW93yI_FcfH0brg8S15CcA_GgFLr063

# Google Sheets Configuration (Deprecated)
GOOGLE_SHEET_ID=1YmBwiKZO9zi7kg-cTFbe7sYPrOMUygIDqDA7p2lXF4I
GOOGLE_SERVICE_ACCOUNT_EMAIL=web-enquiries@applied-arcanum-488117-k2.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY=
